.mobilesearch {
  padding-top: 2%;
  justify-content: center;
  display: none;
}

.searchinput {
  background-color: white;
  background-image: url("../../assets/mobilesearch/searchicon.svg");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 60px;
  width: 100%;
  height: 48px;
  margin-right: 7%;
  margin-left: 7%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #0000001f;
}

@media (max-width: 767px) {
  .mobilesearch {
    display: flex;
  }
}
