p {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.lists {
  max-width: 1088px;
  margin: auto;
}

.lists-header {
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
}

.products {
  display: flex;
  overflow-x: auto;
  padding-bottom: 5px;
}

.products::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

.products::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.products::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.products::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.product {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  width: 140px;
  margin-left: 5px;
  padding: 5px;
  flex-shrink: 0;
}

.add-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-product-text {
  font-size: 72px;
  color: #d8d8d8;
  font-weight: bold;
}

.product-image {
  width: 100%;
  height: 125px;
  object-fit: contain;
}

.product-text {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  height: 30px;
}

.rates {
  display: flex;
}
.rates p {
  color: gray;
  font-size: 12px;
  margin-top: 19px;
}

.stars {
  display: flex;
  width: 80px;
  padding-left: 0px;
}

.star {
  list-style-type: none;
  margin-left: -2px;
}

.star img {
  height: 18px;
  width: 18px;
}

.product-price {
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 0;
}

@media (max-width: 767px) {
  .lists {
    max-width: 90vw;
    margin: auto;
  }
}
