p {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ed5f1f;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #f59f28;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #6b1e5b;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.lists-container {
  width: 100vw;
}

.lists {
  max-width: 1088px;
  margin: auto;
  border: 5px dashed gray;
}

.lists-header {
  border: 1px dashed gray;
  font-weight: bold;
  font-size: 24px;
}

.products {
  display: flex;
}

.product {
  border: 1px solid gray;
  width: 175px;
  margin-left: 5px;
}

.product-image {
  width: 175px;
  height: 150px;
  object-fit: contain;
}

.product-text {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  height: 30px;
}

.rates {
  display: flex;
}

.stars {
  display: flex;
  width: 80px;
}

.star {
  list-style-type: none;
  margin-left: -2px;
}

.star img {
  height: 20px;
  width: 20px;
}

@media (max-width: 767px) {
  .lists-container {
    width: 90vw;
    margin: auto;
  }
}
