.mobilesearch {
  padding-top: 2%;
  justify-content: center;
  display: flex;
}

.searchinput {
  background-color: white;
  background-image: url("../assets/searchicon.svg");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 60px;
  width: 100%;
  height: 48px;
  margin-right: 7%;
  margin-left: 7%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #0000001f;
}

.mobilesearch:focus-within {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
