.carouselContainer {
  height: 300px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carouselBody {
  height: 200px;
  width: 767px;
  background: linear-gradient(to right, red, green, blue);
}

.carouselFooter {
  height: 100px;
  width: 767px;
  background-color: brown;
}

@media (max-width: 767px) {
  .carouselContainer {
    margin-top: 2%;
  }
}
